body {
	background-color: slategrey;
	margin: 0;	
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron {
	background: slategrey;
	width: 100%;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited, .btn-success:focus{
	background-color: slategrey;
	border-color: lightgrey;
	color: lightgrey;

}

.form-control, .form-control:active, .form-control:focus{
	border-width: 2px;
	background-color: slategrey;
	text-color: white;
	color: white;
	border-color: lightgrey;
}

.nav-link{
	color: white;
}

.top-left{
	color: black;
}

.profile-title{
	color: black;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
